@font-face{
    font-family:'star'; 
    src:url('../font/Starjedi.ttf')
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-color:black;
    background-image: url(../images/DarthVader.png);
    background-image: url(../images/Stromtroop.png);
    background-image: url(../images/HanSolo.png);
    background-image: url(../images/smoke.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
}

.search{
    text-align: center;
}

.search input{
    border: 1px solid #b6b6b6;
    width:600px;
    height:40px;
    font-size:20px;
    border-radius: 10px;
}

.search input[type="submit"]{
    width: 100px;
    height: 36px;
    padding: 0;
    margin-top: 40px;
}

.search input[type="submit"]:hover{
    background-color: lightblue;
}

h1{
    color: rgb(77, 75, 75);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px ;
    font-family: 'star';
    font-weight:1000;
    font-size: 60px;
}

a{
    text-decoration: none;
}

.form-control{
  margin:0 auto;
}

#movies img, #movie img{
    width:100%;
}

@media(min-width:960px){
  #movies .col-md-3 .well{
    height:400 px;
  }

  #movies .col-md-3 img{
    height:220 px;
  }
}

/*result area*/
.col-md-3{
    background-color: white;
    background-color: rgb(54,54,54);
    background-color: transparent;
    margin-top: 10px;
}

/*movie title*/
#movieTitle{
  margin-top: 8px;
  margin-bottom: 5px;
  color: azure;
}

/*movie img*/
#movieImg{
  width: 80%;
  height: 300px;
}

/*movie detail*/
#movieDetail{
    margin-bottom: 4px;
    color: rgb(252,153,5);
    background-color: rgb(54,54,54);
    background-color: transparent;
    border-color: transparent;
}

#movieDetail:hover{
    color:rgb(245, 3, 124);
}

/*movie*/
h1{
    color: rgb(252,153,5);
}















